@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body{

        font-family: 'Inter';
        background: url("../img/div.background.webp") no-repeat;
        @apply flex flex-col items-center justify-center;
        background-size: contain;
    }

    :root {

        --swiper-slide-width : 260px;

        @media (min-width:1024px) {  --swiper-slide-width: 200px  }

    }
    img { object-fit: cover; }
}


@layer components {

    .font-orbitron { font-family: "Orbitron"; }
    .padding {
        @apply px-4;
        @apply sm:px-10;
        @apply md:px-20;
    }

    .gradient-color { background: linear-gradient( to left , #2600FC , #FF00EA ) ;}
    .gradient-text-color {
        background: linear-gradient( to left , #2600FC , #FF00EA ) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .logo-carousel { animation: logo-carousel infinite 60s linear; }
    .logo-carousel img { object-fit: contain; }
    @keyframes logo-carousel {

        to { transform: translateX(0) }
        from { transform: translateX(-100%) }
    }

    .swiper-pagination{ @apply absolute bottom-0; }
    .swiper-pagination-bullet{
        @apply block w-2 h-2;
        @apply relative;
        @apply bg-gray-300 dark:bg-gray-600;
        border-radius: 50%;

    }
    .swiper-pagination-bullet-active{@apply bg-black dark:bg-white ;}

    .swiper-slide {
        width: var(--swiper-slide-width) !important;
        @apply lg:ml-4;
    }
}