@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body{

        font-family: 'Inter';
        background: url("../img/div.background.webp") no-repeat;
        background-size: cover;
        @apply flex flex-col items-center justify-center;

    }

}


@layer components {

    .font-orbitron { font-family: "Orbitron"; }
    .padding {
        @apply px-4;
        @apply sm:px-10;
        @apply md:px-20;
    }

    .gradient-color { background: linear-gradient( to left , #2600FC , #FF00EA ) ;}

    .logo-carousel { animation: logo-carousel infinite 60s linear }
    @keyframes logo-carousel {

        to { transform: translateX(0) }
        from { transform: translateX(-100%) }
    }

}